	.upload-container {
		margin: 10px;
		padding: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid #ddd;
		border-radius: 5px;
		background-color: #f9f9f9;
	}
	
	.upload-label {
		font-size: 16px;
		margin-bottom: 5px;
		color: #333;
		font-family: Arial, sans-serif;
	}
	
	.upload-input {
		padding: 8px;
		border-radius: 4px;
		border: 1px solid #ccc;
		font-size: 14px;
		color: #333;
	}

	#download-btn {
		padding: 8px 15px;
		margin-top: 10px;
		border: none;
		border-radius: 4px;
		background-color: #4CAF50;
		color: white;
		font-size: 16px;
		cursor: pointer;
	}
	
	#download-btn:hover {
		background-color: #45a049;
	}

.input-container {
		margin: 20px;
		text-align: center;
	}
	
	.input-container input[type="text"] {
		padding: 8px;
		margin: 5px;
		border-radius: 4px;
		border: 1px solid #ccc;
	}
	
	#add-quote-btn {
		padding: 8px 15px;
		border: none;
		border-radius: 4px;
		background-color: #4CAF50;
		color: white;
		cursor: pointer;
	}
	
	#add-quote-btn:hover {
		background-color: #45a049;
	}

	#quote-container {
		margin: 20px;
		padding: 20px;
		columns: 30rem auto; /* Default setting for larger screens */
	}
	
	.quote-card {
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 15px;
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
	}
	
	.quote-card blockquote {
		font-family: 'Georgia', serif;
		font-size: 18px;
		margin: 0;
		padding: 0;
	}
	
	.quote-card cite {
		display: block;
		font-size: 16px;
		text-align: left;
		margin-top: 5px;
		font-style: italic;
	}
	
	/* Media query for screens narrower than 1000px */
	@media (max-width: 1000px) {
		#quote-container {
			columns: 20rem auto; /* Column width set to 20rem for smaller screens */
		}
	}
