	#menu-toggle {
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 1001; /* Higher than the menu */
		/* Style your toggle button */
	}
	
	.hidden-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: white;
		box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
		transform: translateY(-100%); /* Start hidden */
		transition: transform 0.3s ease-in-out;
		z-index: 1000; /* Ensure it's above other content */
	}
	
	.show-menu {
		transform: translateY(0); /* Show menu */
	}
	
	input[type="text"], button {
		padding: 10px;
		margin: 5px 0;
		border-radius: 5px;
		border: 1px solid #ccc;
		font-size: 16px;
		color: #333;
		font-family: Arial, sans-serif;
	}
	
	button {
		background-color: white;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		cursor: pointer;
	}
	
	button:hover {
		background-color: #f0f0f0;
	}
	
	input[type="file"] {
		border: none;
	}
	

/* Quotes */
	#quote-container {
		margin: 20px;
		padding: 20px;
		columns: 30rem auto; /* Default setting for larger screens */
	}
	
	.quote-card {
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 15px;
		margin-bottom: 20px;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
	}
	
	.quote-card blockquote {
		font-family: 'Georgia', serif;
		font-size: 18px;
		margin: 0;
		padding: 0;
	}
	
	.quote-card cite {
		display: block;
		font-size: 16px;
		text-align: left;
		margin-top: 5px;
		font-style: italic;
	}
	
	/* Media query for screens narrower than 1000px */
	@media (max-width: 1000px) {
		#quote-container {
			columns: 20rem auto; /* Column width set to 20rem for smaller screens */
		}
	}
